@import "tailwindcss";

@layer utilities {
  .container {
    @apply mx-auto my-24 p-2;
  }
}
body {
  @apply bg-[#d6d6d6] dark:bg-slate-800;
}
/* components */
/* menu */
.menu-btn {
  margin: 0.7rem 0.2rem;
  cursor: pointer;
}
.menu-btn,
.menu-btn::after,
.menu-btn::before {
  content: "";
  background: #000;
  width: 2rem;
  height: 0.15rem;
  border-radius: 1rem;
  position: relative;
}
.menu-btn::after {
  position: absolute;
  bottom: 0.5rem;
}
.menu-btn::before {
  position: absolute;
  top: 0.5rem;
}
/* Main */
#cards-wrapper {
  @apply grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 md:gap-3.5;
}
/* modifier */
.menu-btn--show {
  left: 50%;
}
/* Effects */
#KIUI-typewriter {
  @apply m-16 mx-auto text-3xl text-center h-16 text-slate-700 dark:text-slate-100;
}
#KIUI-typewriter::after {
  content: "|";
  display: inline-block;
  background: inherit;
  animation: typeWriterFlicker 1.5s infinite linear;
}
@keyframes typeWriterFlicker {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  50% {
    opacity: 0.1;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
/* Svg */
.social-media a svg {
  @apply size-8 duration-200;
}
/* media queries */
@media screen and (max-width: 480px) {
  #cards-wrapper {
    @apply grid-cols-1;
  }
}
